/* 
    Created on : 15 août 2014, 17:15:58
    Author     : kremy
*/
html{
    min-height: 100%;    
}

body {
    height: 100% !important;       
    
}
.navbar form legend, .navbar form label, .navbar form div.alert{
    display: none;
}
.navbar form input {
    margin-left: 5px; //TOBE imrpoved
}
div#left-side, div#right-side {
           
    background-repeat: repeat-y;    
    background-size: auto;
    /*background-attachment: fixed;*/
    min-height: 100%;
    width:82px;
    position:fixed;        
}
div#right-side {
    background-image: url("/watchspeak/img/bg-right-side.jpg");
    right: 0px;
    top:0px;
}
div#left-side {
    background-image: url("/watchspeak/img/bg-left-side.jpg");    
    left: 0px;
}
div.content-wrapper.container {  
    width: auto;
    height: 100%;
    background-image: url("/watchspeak/img/bg-left-side.jpg"),
                      url("/watchspeak/img/bg-right-side.jpg");
    background-position: left, right;    
    background-repeat: repeat-y;    
    background-size: auto;
    background-attachment: fixed;
    padding-top: 10px;
    margin-left: 82px;/* width of the left background */
    margin-right: 82px; /* width of the right background */
    margin-top: 50px; /* height of the navbars */
}
/****************************** Ajax loading tools ****************************/
#busy-indicator { display:none; }
/****************************** Flash message tools ***************************/
.flash-message {
    position: absolute;
    font-size: 1.1em;
    height: 51px;        
    top:0;
    z-index:100000;    
    border-radius:5px 0px 0px 5px;
    padding: 1em;
    color: #FFF;
}
.flash-message.flash-error {
    background-color: #fe1611;/*For old browsers*/
    background-image:-moz-linear-gradient(#ff8686,#fe1611);    
}
.flash-message.flash-warning{
    background-color: #ff782b;/*For old browsers*/
    background-image:-moz-linear-gradient(#ffc76f,#FFA673);
}
.flash-message.flash-validation{
    background-color: #55ae3b;/*For old browsers*/
    background-image:-moz-linear-gradient(#ace469,#55ae3b);
}
.flash-message.flash-information{
    background-color: #00B7E9;/*For old browsers*/
    background-image:-moz-linear-gradient(#52a9ff,#00B7E9);
}
.flash-message a.flash-close{    
    color:#fff;
    text-decoration: none;    
    text-align: center;
    float:right;
    margin-right: 10px;
    font-size: 1em;
    opacity:0.8;
    padding: 2px;
    border-radius: 4px;
}
.flash-message a.flash-close:hover{
    background-color: #d2d2d2;
}
/**************************** Form fiels errors *******************************/
.input-group .error input{
    border-radius: 0;
    border-top:0;
    border-right: 0;
    border-left: 0;
}
.form-group.error {    
    margin-bottom: 0px;
    border:inherit;
    border:1px solid #ccc
}
.input-group .error div.error-message{
    font-style: italic;
    color:red;
}