/* 
    Created on : 15 août 2014, 17:15:58
    Author     : kremy
*/
body {
    padding-top:60px;
}

.navbar form legend, .navbar form label{
    display: none;
}
.navbar form input {
    margin-left: 5px; //TOBE imrpoved
}