/* 
    The posts view CSS
    Created on : 15 août 2014, 17:10:10
    Author     : kremy
*/
#PostAddForm textarea {
    width:80%;
    height: 2.5em;
    display:inline-block;    
    vertical-align: top;
}
#PostAddForm textarea:focus{
    height:5em;
    transition: height 0.3s ease-in;
}
#PostAddForm input.btn {
    display:inline-block;
    vertical-align: middle;
}
section.postAndComments {
    margin-left:5%;
    width: 80%;
}

article.post {
    min-height: 4em;    
    margin-top: 1em;      
    border-radius:5px;
    position:relative;
    text-align: justify;
    padding-left: 4px;
    padding-right: 10px;    
    color:#062A99;
    background-color: #C7CEDB;
    background-image: -moz-linear-gradient(#fff, #C7CEDB);
    
    -moz-border-radius:5px;    
    border-radius:5px;
                
    -moz-box-shadow: 1pt 2px 1px rgba(0, 0, 255, 0.2), -2px 1px 1px rgba(0, 0, 255, 0.1);
    -webkit-box-shadow: 1pt 2px 1px rgba(0, 0, 255, 0.2), -2px 1px 1px rgba(0, 0, 255, 0.1);
    box-shadow: 1pt 2px 1px rgba(0, 0, 255, 0.2), -2px 1px 1px rgba(0, 0, 255, 0.1);
    
}

section.comments {
    margin-top:0.6em;
    padding-left: 10%;
}

article a.author {
    font-size:1.2em;
    color:#125DCD;
    text-decoration: underline;
    cursor:pointer;
}

article time {
    color:darkgreen;
    font-style: italic;
    margin-left:2em;
}

/* Define the corner properties */
article.post a.corner{
    content: "";
    position: absolute;
    right:0px;
    top:0px;
    border-style: solid;
    border-width: 0px 30px 30px 0px;
    height: 0px;
    width: 0px;
    display: block;
    box-shadow: 0pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 5px;
    border-color:#EEEEEE #EEEEEE #125DCD #125DCD ;
    border-width:11px;
    overflow: hidden;
    text-align:center;
}
article.post:hover a.corner.fold{
    box-shadow:none;
    border-style:none;
    background-color:transparent;
    width:22px;
    height:22px;
    color:#cd0a0a;
    text-decoration: none;
    background-color:#C7CEDB;
    border-radius: 0 5px 0 5px;
    transition:background-color 0.5s linear;
    cursor: pointer;
 
}

/* End of the corner properties */

/******************************************************************************/
/************************* Start of comment display ***************************/
/******************************************************************************/
p.comment{
    margin-bottom: 0;
    padding: 0 !important;
    position: relative;
    text-align: center;    
    padding: 0px 0px;
    background: #ddd;
    //border-color: #fff #888 #888 #888;
    border-style: solid;
    border-width: 1px;
    border-color:#aaa;
    border-radius: 0.25em;               
    background: -moz-linear-gradient(#eef, #ccc);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), color-stop(0.5, #aaa));
}
span.comment-triangle{
    width:0px;
    display:block;
    margin-top:-1px;
    margin-left:3em;
    border-left: 20px solid #ccc;
    border-bottom: 8px solid rgba(0,0,0,0);
     -moz-transform:skew(30deg);
     -webkit-transform:skew(30deg);
     -o-transform:skew(30deg);
     -ms-transform:skew(30deg);
     tranform:skew(30deg);
 
}
section.comment a.pseudo{
    color:#125DCD;
}

section.comment:hover a.delete{
    color:#000;
}
section.comment a.delete{
    float:right;
    margin-right: 1em;
    font-weight: bold;
    color:#ccc;
}
section.comment a.pseudo:visited{
    color:#125DCD;
}
section.comment span.date{
    font-style: italic;
    margin-left: 0.5em;
}
 
form.comment textarea{
/*    -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; border-radius: 0.25em;*/
    margin-left:4em;
    margin-right:2em;
    margin-top:0.7em;
    font-size:1.1em;
    height:1.8em;
    width:25em;
    text-align:left;
}
form.comment textarea:focus {
    height:4em;
}
/******************************************************************************/
/************************** End of comment display ****************************/
/******************************************************************************/
article.post a.display-comments{
    text-decoration: none;
    text-align:center;
    position:absolute;
    right:0px;
    bottom:0px;
    color:darkred;
    height:25px;
    width:25px;
    font-weight: bold;
    background-image: url("/watchspeak/img/comment.icon.gif");
    background-repeat: no-repeat;
}